<h1 md-dialog-title class="primary-color">{{ modalTitle }}</h1>

<md-dialog-content class="accent-color">
  <form #eventForm="ngForm">
    <md-form-field class="col-md-12">
      <input mdInput id="event_name" name="eventName" placeholder="Name" [(ngModel)]="event.eventName">
    </md-form-field>
    <md-form-field class="col-md-12">
      <input mdInput id="event_description" name="eventDescription" placeholder="Description" [(ngModel)]="event.eventDescription">
    </md-form-field>
    <md-form-field class="col-md-6">
      <input mdInput [mdDatepicker]="startingDate" name="eventStartDate" placeholder="Starting" [(ngModel)]="event.eventStartDate">
      <md-datepicker-toggle mdSuffix [for]="startingDate"></md-datepicker-toggle>
      <md-datepicker #startingDate></md-datepicker>
    </md-form-field>
    <md-form-field class="col-md-6">
      <input mdInput [mdDatepicker]="endingDate" placeholder="Ending" name="eventEndDate" [(ngModel)]="event.eventEndDate">
      <md-datepicker-toggle mdSuffix [for]="endingDate"></md-datepicker-toggle>
      <md-datepicker #endingDate></md-datepicker>
    </md-form-field>
  </form>
</md-dialog-content>


<md-dialog-actions>
  <button md-raised-button color="primary" md-dialog-close>Cancel</button>
  <button md-raised-button>Save</button>
</md-dialog-actions>
