<div id="fullscreen_bg" class="fullscreen_bg"></div>
<div id="regContainer" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="/login" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="/register"  class="active" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <!--<form id="login-form" [formGroup]="form" (ngSubmit)="onLoginSubmit(form.value)"  role="form" style="display: none;">
                <div class="form-group">
                  <label for="email">Username</label>
                  <input type="text" [formControl]="email" name="username" id="email" tabindex="1" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" [formControl]="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                    </div>
                  </div>
                </div>
              </form>-->
              <form id="register-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" role="form" style="display: block;">
                <md-form-field class="col-md-6 col-sm-12 col-xs-12">
                  <input mdInput name="firstname" [formControl]="firstname" id="firstname" placeholder="First Name *">
                  <md-error *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                    <div [hidden]="!firstname.errors.required">
                      First Name field is required!
                    </div>
                    <div [hidden]="!firstname.errors.minlength">
                      First Name must be at least 3 characters long!
                    </div>
                  </md-error>
                </md-form-field>
                <md-form-field class="col-md-6 col-sm-12 col-xs-12">
                  <input mdInput name="lastname" [formControl]="lastname" id="lastname" placeholder="Last Name *">
                  <md-error *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                    <div [hidden]="!lastname.errors.required">
                      Last Name field is required!
                    </div>
                    <div [hidden]="!lastname.errors.minlength">
                      Last Name must be at least 3 characters long!
                    </div>
                  </md-error>
                </md-form-field>
                <md-form-field class="col-xs-12">
                  <input mdInput name="email" [formControl]="email" id="email" placeholder="Email *">
                  <md-error *ngIf="email.errors && (email.dirty || email.touched)">
                    <div [hidden]="!email.errors.required">
                      Email field is required!
                    </div>
                    <div [hidden]="(!email.errors.required && !email.errors.validateEmail)">
                      Email format is invalid!
                    </div>
                  </md-error>
                </md-form-field>
                <md-form-field class="col-xs-12">
                  <input mdInput type="password" name="password" [formControl]="password" id="password" placeholder="Password *">
                </md-form-field>
                <md-form-field class="col-xs-12">
                  <input mdInput type="password" name="confirm_password" [formControl]="confirm_password" id="confirm_password" placeholder="Confirm Password *">
                </md-form-field>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <button type="submit" md-raised-button color="primary" class="col-xs-12">Register Now</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



