<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button> <a href="/" class="navbar-brand">LOGO</a>
    </div>
    <span class="navbar-btn request-button-fixed">
        <button md-raised-button color="accent" (click)="openLeaveRequestDialog()"><md-icon>alarm</md-icon> Request a Leave</button>
    </span>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <a href="#"><md-icon>home</md-icon></a>
        </li>
        <li class="active"> <a href="#"><md-icon>date_range</md-icon></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><md-icon>lightbulb_outline</md-icon><span class="badge alert-success vertical-align-super">10</span></a>

          <ul class="dropdown-menu">
            <li> <a><span class="label label-success">New</span> ACCT-200 Document Added </a>
            </li>
            <li> <a><span class="label label-success">New</span> ACCT-200 Assignment Updated</a>
            </li>
            <li> <a><span class="label label-default">Read</span> Some notification</a>
            </li>
            <li> <a><span class="label label-default">Read</span> Some notification</a>
            </li>
            <li> <a><span class="label label-default">Read</span> Some notification</a>
            </li>
          </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> G'day, User <b class="caret"></b> </a>

          <ul class="dropdown-menu">
            <li> <a href="/account/"><i class="fa fa-user"></i> Your Account</a>
            </li>
            <li> <a href="/sales/"><i class="fa fa-dollar"></i> Work Schedule</a>
            </li>
            <li class="divider"></li>
            <li> <a href="javascript:void(0)" (click)="logout()"><i class="fa fa-share-square-o"></i> Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <!-- End Column -->
    <div id="calendar" class="col-sm-12 col-md-12 col-lg-12">
        <app-bootstrap-full-calendar></app-bootstrap-full-calendar>
    </div>
  </div>
</div>
